.back-top {
  height: 2rem;
  width: 2rem;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  line-height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
