.form-container {
  border: 1px solid #dadada;
  padding: 20px;
  width: 400px;
  height: 500px;
  border-radius: 6px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form-label {
  font-weight: 600;
  color: #000;
}
.form-input {
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dadada;
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
