.back-top {
  height: 2rem;
  width: 2rem;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  line-height: 2rem;
  text-align: center;
}
